<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for user in user_list %}
    {% if forloop.first %}
        <div style="color: gold;">
            <h1>{{forloop.counter}}. {{user.name}}</h1>
            <h3>{{user.age}}</h3>
            <h3>{{user.job}}</h3>
        </div>
    {% elif forloop.last %}
        <div style="color: red;">
            <h1>{{forloop.counter}}. {{user.name}}</h1>
            <h3>{{user.age}}</h3>
            <h3>{{user.job}}</h3>
        </div>
    {% else %}
        <div>
            <h1>{{forloop.counter}}. {{user.name}}</h1>
            <h3>{{user.age}}</h3>
            <h3>{{user.job}}</h3>
        </div>
    {% endif %}
    {% endfor %}

    <p>{{text|truncatechars:50}}</p>

    <p>{{language|upper}}</p>
    <p>{{language|lower}}</p>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
</html>